<!DOCTYPE html>
<html lang="en">
<head th:replace="lipuchkastore-master/partials/_head :: head"></head>
<body class="animsition">
    <!-- Header -->
    <header th:replace="lipuchkastore-master/partials/_header :: header"></header>

    <!-- Cart -->
    <div class="wrap-header-cart js-panel-cart">
        <div class="s-full js-hide-cart"></div>

        <div class="header-cart flex-col-l p-l-65 p-r-25">
            <div class="header-cart-title flex-w flex-sb-m p-b-8">
                <span class="mtext-103 cl2">
                    Your Cart
                </span>

                <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                    <i class="zmdi zmdi-close"></i>
                </div>
            </div>
            
            <div class="header-cart-content flex-w js-pscroll">
                <ul class="header-cart-wrapitem w-full">
                    <li class="header-cart-item flex-w flex-t m-b-12">
                        <div class="header-cart-item-img">
                            <img src="images/item-cart-01.jpg" alt="IMG">
                        </div>

                        <div class="header-cart-item-txt p-t-8">
                            <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                White Shirt Pleat
                            </a>

                            <span class="header-cart-item-info">
                                1 x $19.00
                            </span>
                        </div>
                    </li>

                    <li class="header-cart-item flex-w flex-t m-b-12">
                        <div class="header-cart-item-img">
                            <img src="images/item-cart-02.jpg" alt="IMG">
                        </div>

                        <div class="header-cart-item-txt p-t-8">
                            <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                Converse All Star
                            </a>

                            <span class="header-cart-item-info">
                                1 x $39.00
                            </span>
                        </div>
                    </li>

                    <li class="header-cart-item flex-w flex-t m-b-12">
                        <div class="header-cart-item-img">
                            <img src="images/item-cart-03.jpg" alt="IMG">
                        </div>

                        <div class="header-cart-item-txt p-t-8">
                            <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                Nixon Porter Leather
                            </a>

                            <span class="header-cart-item-info">
                                1 x $17.00
                            </span>
                        </div>
                    </li>
                </ul>
                
                <div class="w-full">
                    <div class="header-cart-total w-full p-tb-40">
                        Total: $75.00
                    </div>

                    <div class="header-cart-buttons flex-w w-full">
                        <a th:href="@{/shoping-cart}"  class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                            View Cart
                        </a>

                        <a th:href="@{/shoping-cart}"  class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                            Check Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Title page -->
    <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
        <h2 class="ltext-105 cl0 txt-center">
            Wishlist
        </h2>
    </section>

    <!-- Content page -->

    <div class="row justify-content-center">
        <div class="col-md-4 col-lg-4 col-sm-9">
<div class="w-50 text-center" style="margin: auto">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53L12 21.35Z"></path></svg>
</div>
<h3 class="mb-3 text-muted text-center">Your Wishlist is <span class="text-danger">Empty!</span></h3>
<a th:href="@{/shop}" class="mb-3 flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
    Shop Now
</a>
</div>
</div>


    <!-- Map -->
    <div class="map">
        <div class="size-303" id="google_map" data-map-x="40.691446" data-map-y="-73.886787" data-pin="images/icons/pin.png" data-scrollwhell="0" data-draggable="1" data-zoom="11"></div>
    </div>

    <!-- Footer -->
    <div th:replace="lipuchkastore-master/partials/_footer_scripts :: footer_scripts"></div>


    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>

    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function(){
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function(){
            $(this).css('position','relative');
            $(this).css('overflow','hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function(){
                ps.update();
            })
        });
    </script>
    <script src="js/main.js"></script>

    <!-- Login/Sign Up Modal -->
    <div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">
            <div class="row justify-content-center">
              <div class="col-md-11 col-sm-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs d-flex justify-content-center custom-nav" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="login-tab" data-toggle="tab" href="#Login" role="tab" aria-controls="Login" aria-selected="true">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="signup-tab" data-toggle="tab" href="#Registration" role="tab" aria-controls="Registration" aria-selected="false">Sign up</a>
                  </li>
                </ul>
                <div class="mb-4"></div>
                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="Login" role="tabpanel" aria-labelledby="login-tab">
                    <form role="form" class="form-horizontal" id="login-form-handler">
                      <div class="form-group">
                        <label for="email1" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-12">
                          <input type="email" class="form-control" id="email1" placeholder="Email" name="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="password1" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-12">
                          <input type="password" class="form-control" id="password1" placeholder="Password" name="password">
                        </div>
                      </div>
                      <div class="form-group pl-3">
                        <div class="row">
                          <div class="col-sm-12 mb-3">
                            <a href="https://webnofy.com/reset-password">Forgot password?</a>
                          </div>
                          <div class="col-sm-12 mb-3">
                            <button type="submit" class="flex-c-m stext-101 cl0 size-101 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">Submit</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane fade" id="Registration" role="tabpanel" aria-labelledby="signup-tab">
                    <form role="form" class="form-horizontal" id="register-form-handler">
                      <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control onlyString" placeholder="Name" id="name" name="name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-12">
                          <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="mobile" class="col-sm-2 control-label">Mobile</label>
                        <div class="col-sm-12">
                          <input type="number" class="form-control" id="mobile" placeholder="Mobile" name="mobile">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-12">
                          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                      </div>
                      <div class="mb-4"></div>
                      <div class="form-group pl-3">
                        <div class="row">
                          <div class="col-sm-12">
                            <button type="submit" class="flex-c-m stext-101 cl0 size-101 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">Save &amp; Continue</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
    // Відкриття модального вікна по кліку на Login / Sign up
    $(function() {
      $(document).on('click', 'a,button', function(e) {
        if ($(this).text().trim() === 'Login / Sign up') {
          e.preventDefault();
          $('#authModal').modal('show');
        }
      });
    });
    function setModalOffset() {
      var nav = document.querySelector('.limiter-menu-desktop.container');
      var modalDialog = document.querySelector('#authModal .modal-dialog');
      if (nav && modalDialog) {
        var navRect = nav.getBoundingClientRect();
        var offset = navRect.top + navRect.height + 20;
        modalDialog.style.marginTop = offset + 'px';
      }
    }
    $('#authModal').on('show.bs.modal', setModalOffset);
    window.addEventListener('resize', setModalOffset);
    </script>
    <!-- End Login/Sign Up Modal -->

    <script>
    // Додаю обробник для всіх кнопок Add To Cart (js-addcart-grid)
    $('.js-addcart-grid').each(function(){
      var nameProduct = $(this).closest('.block2').find('.js-name-b2').html();
      $(this).on('click', function(e){
        e.preventDefault();
        swal(nameProduct, "is added to cart !", "success");
      });
    });
    </script>

</body>
</html> 